<% @employees.each do |e| %>
  <p><%= e.name %>
    <% unless e == current_employee %>
      <%= button_to "Delete", employee_path(e), method: :delete %>
      <%= button_to "Update", edit_employee_path(e), method: :get %>
    <% end %>
  </p>
  <ul>
   <li>Status: <%= e.status %></li>
   <li>password: <%= e.password %></li>
  </ul>
<% end %>
