<div class="row">
  <div class="columns small-12">
    <% @employees.each do |e| %>
      <p><%= e.name %>
        <% unless e == current_employee %>
          <%= button_to "Delete", employee_path(e), method: :delete %>
        <% end %>
        <%= button_to "Update", edit_employee_path(e), method: :get %>
      </p>
      <ul>
       <li>Status: <%= e.status %></li>
       <li>Date of Hire: <%= e.created_at.strftime("%m/%d/%Y") %></li>
       <li>Password: <%= e.password %></li>
       <li>Salary: <%= "#{sprintf('$%.2f', (e.salary / 100.00))}" %></li>
      </ul>
    <% end %>
  </div>
</div>
