<div class="row">
  <div class="columns small-12">
    <%= simple_form_for @employee do |f| %>
      <%= f.input :name %>
      <%= f.input :password %>
      <%= f.input :status, collection: ["Employee", "Manager"] %>
      <%= f.button :submit, "Create" %>
    <% end %>
  </div>
</div>
