<div class="row">
  <div class="columns small-12">
    <h4>New Employee</h4>
    <%= simple_form_for @employee do |f| %>
      <%= f.input :name %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :status, collection: ["Employee", "Manager"] %>
      <%= f.button :submit, "Create", class: "expand" %>
    <% end %>
  </div>
</div>
