<div class="row">
  <div class="columns small-12">
    <% @employees.each do |e| %>
      <% total_hours = 0 %>
      <h4><%= e.name %></h4>
      <ul>
        <% e.shifts.each do |s| %>
          <% if s.clock_out != nil %>
            <% days = (s.clock_out.day - s.clock_in.day) * 24 %>
            <% shift_hours = s.clock_out.hour - s.clock_in.hour + days %>
            <li><%= s.clock_out.month %>/<%= s.clock_out.day %>: <%= shift_hours %></li>
            <% total_hours += shift_hours %>
          <% end %>
        <% end %>
      </ul>
      <p>Total hours: <%= total_hours %></p>
      <p>Total payment: <%= sprintf('$%.2f', (e.salary * total_hours / 100.00)) %>
    <% end %>
  </div>
</div>
