<% @employees.each do |e| %>
  <% total_hours = 0 %>
  <h4><%= e.name %></h4>
  <ul>
    <% e.shifts.each do |s| %>
      <% if s.clock_out != nil %>
        <li><%= s.clock_out.month %>/<%= s.clock_out.day %>: <%= shift_hours = s.clock_out.min - s.clock_in.min %></li>
        <% total_hours += shift_hours %>
      <% end %>
    <% end %>
  </ul>
  <p>Total hours: <%= total_hours %></p>
  <p>Total payment: <%= sprintf('$%.2f', (e.salary * total_hours / 100.00)) %>
<% end %>
