<div class="row">
  <div class="columns small-12">
    <h4>Sign In</h4>
    <%= form_for :employee, :url => {:action => 'sign_in_employee'} do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.select :name, current_restaurant.employees.collect {|e| [ e.name ] } %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign in", class: "button expand" %>
      </div>
    <% end %>
  </div>
</div>
