<div class="row">
  <div class="columns small-12">
    <h4>Edit Modification</h4>
    <%= simple_form_for @modification do |f| %>
      <%= f.input :name %>
      <% price = (@modification.price / 100.00) %>
      <%= f.input :price, input_html: { value: "#{sprintf('%.2f', price)}" } %>
      <%= f.input :limit %>
      <%= f.button :submit, "Update" %>
    <% end %>
    <%= button_to "Delete", modification_path(@modification), method: :delete, class: "button" %>
  </div>
</div>
