<%= form_for @modification do |f| %>
<% if @modification.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@modification.errors.count, "error") %> prohibited this modification from being saved:</h2>

  <ul>
    <% @modification.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :price %><br>
  <%= f.number_field :price , value: "#{sprintf('%.2f', ((@modification.price || 0) / 100.00))}", :step => 0.01 %>
</div>

<div class="actions">
  <%= f.submit "Update" %>
</div>
<% end %>
<%= button_to "Delete", modification_path(@modification), method: :delete %>
