<div class="row">
  <div class="columns small-12">
    <h4>Create a New Modification</h4>
    <%= simple_form_for @modification do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :limit %>
    <%= f.hidden_field :restaurant_id, value: current_restaurant.id %>
    <%= f.button :submit, "Create", class: "expand" %>
    <% end %>
  </div>
</div>
