<div class="row">
  <div id="buttons" class="columns small-8">
    <% @sale_item.item.modifications.each do |mod| %>
      <%= form_for(:sale_item_modification, url: sale_item_modifications_path) do |f| %>
        <%= f.hidden_field :sale_item_id, value: @sale_item.id %>
        <%= f.hidden_field :modification_id, value: mod.id %>
        <%= f.submit "#{mod.name}", id: "mod" %>
      <% end %>
    <% end %>
    <br><a href="<%= root_path %>">Done</a>
  </div>

  <div class="columns small-4 sale-items">
    <% @sale.sale_items.each do |s_item| %>
    <div><%= s_item.name %> <%= link_to "X", sale_item_path(s_item), method: :delete %>
      <% price = s_item.price / 100.00 %>
      <div class="price"><%= "#{sprintf('$%.2f', price)}" %></div>
      <ul>
        <% s_item.sale_item_modifications.each do |sim| %>
        <li><%= sim.modification.name %> <%= link_to "x", sale_item_modification_path(sim), method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% total_price = @sale.total / 100.00 %>
    <p class="total price">Total: <%= "#{sprintf('$%.2f', total_price)}" %></p>
    <div id="hidden_total"><%= @sale.total %></div>
    <%= button_to "Cash Out", sale_path(@sale), method: :patch, id: 'cash_out' %>
  </div>
</div>
