<div class="row">
  <div id="buttons" class="columns small-8">
    <% @sale_item.item.modifications.each do |mod| %>
      <%= form_for(:sale_item_modification, url: sale_item_modifications_path) do |f| %>
        <%= f.hidden_field :sale_item_id, value: @sale_item.id %>
        <%= f.hidden_field :modification_id, value: mod.id %>
        <%= f.submit "#{mod.name}", class: "button green" %>
      <% end %>
    <% end %>
    <br><a href="<%= root_path %>">Done</a>
  </div>

  <%= render partial: "sales/sale" %>
</div>
