<div class="row">
  <div class="columns small-12">
    <h4>Sign In Restaurant</h4>
    <%= form_for :restaurant, :url => {:action => 'sign_in_restaurant'} do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", class: "button expand" %>
    </div>
    <% end %>
  </div>
</div>
