<% @items.each do |item| %>
  <%= form_for(:sale_item, url: sale_items_path) do |f| %>
    <%= f.hidden_field :item_id, value: item.id %>
    <% p = item.price / 100.00 %>
    <%= f.submit "#{item.name}\n#{sprintf('$%.2f', p)}", id: "item" %>
  <% end %>
<% end %>

<% @sale_items.each do |s_item| %>
  <%= s_item.item.name %>
<% end %>

<% if current_employee %>
  <% if current_employee.status == "Manager" %>
    <br><a href="<%= static_pages_manager_functions_path %>">Manager Functions</a>
  <% end %>
<% end %>

<%= button_to "Sign Out", employees_sign_out_path %>
