<div class="row">
  <div id="buttons" class="columns small-8">
    <% @items.each do |item| %>
      <%= form_for(:sale_item, url: sale_items_path) do |f| %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.submit "#{item.name}", id: "item" %>
      <% end %>
    <% end %>
  </div>

  <div class="columns small-2 sale-items">
    <% @sale.sale_items.each do |s_item| %>
      <div><%= s_item.name %></div>
    <% end %>
    <div id="hidden_total"><%= @sale.total %></div>
    <%= button_to "Cash Out", sale_path(@sale), method: :patch, id: 'cash_out' %>
  </div>
  <div class="columns small-2 sale-prices">
    <% @sale.sale_items.each do |s_item| %>
      <% price = s_item.price / 100.00 %>
      <div><%= "#{sprintf('$%.2f', price)}" %></div>
    <% end %>
    <% total_price = @sale.total / 100.00 %>
    <p class="price">Total: <%= "#{sprintf('$%.2f', total_price)}" %></p>
  </div>
</div>

<div class="row">
  <div id="footer">
    <% if current_employee.status == "Manager" %>
      <br><%= link_to "Manager Functions", static_pages_manager_functions_path %>
    <% end %>

    <%= button_to "Sign Out", employees_sign_out_path %>
  </div>
</div>
