<%= form_for @modification_option,  url: {action: "inverse_create"} do |f| %>
<div class="field">
  <%= f.label :modification %>
  <%= f.select :modification,  Modification.all.collect {|i| [ i.name, i.id ] } %>
</div>

<div class="field">
  <%= f.label :item, "Items" %>
  <%= f.collection_check_boxes(:item_ids, Item.all, :id, :name) %>
</div>

<div class="actions">
  <%= f.submit "Create Options" %>
</div>
<% end %>
