<%= form_for @modification_option do |f| %>
  <div class="field">
    <%= f.label :item %>
    <%= f.select :item,  Item.all.collect {|i| [ i.name, i.id ] } %>
  </div>

  <div class="field">
    <%= f.label :modification, "Modifications" %>
    <%= f.collection_check_boxes(:modification_ids, Modification.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit "Create Options" %>
  </div>
<% end %>
