<% unless @sale.sale_items.empty? %>
  <div class="columns small-12 medium-6 large-4 panel callout radius">
    <% @sale.sale_items.each do |s_item| %>
      <div><%= link_to s_item.name, sale_item_path(s_item) %> <%= link_to "X", sale_item_path(s_item), method: :delete %>
        <% price = s_item.price / 100.00 %>
        <div class="price"><%= "#{sprintf('$%.2f', price)}" %></div>
        <ul>
          <% s_item.sale_item_modifications.each do |sim| %>
            <li><% unless sim.current_count == 1 %>
              <%= sim.current_count %>
            <% end %>
            <%= sim.modification.name %> <%= link_to "x", sale_item_modification_path(sim), method: :delete %>
            <% sim_price = (sim.modification.price / 100.00) * sim.current_count %>
            <% if sim_price > 0 %>
              <span class="price"><%= "#{sprintf('$%.2f', sim_price)}" %></span>
            <% end %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% total_price = @sale.total / 100.00 %>
    <p class="total price">Total: <%= "#{sprintf('$%.2f', total_price)}" %></p>
    <div id="hidden_total"><%= @sale.total %></div>
    <%= button_to "Cash Out", sale_path(@sale), method: :patch, id: 'cash_out', class: "button expand" %>
    <%= button_to "Cancel", sale_path(@sale), method: :delete, class: "button expand alert" %>
  </div>
<% end %>
