<div class="row">
  <div class="columns small-12">
    <h4>Profits</h4>
    <% sum = 0 %>
    <% @sales.each do |s| %>
      <% sum += s.total  %>
    <% end %>
    <p>Total: <%= "#{sprintf('$%.2f', sum / 100.00)}"%></p>
    <% @items.each do |i| %>
      <p><%= i.name %>: <%= calculate_total_sold(i) %> sold, <%= sprintf('$%.2f', calculate_profit(i) / 100.00) %></p>
    <% end %>
    <%= button_to "Clear Data", sales_destroy_all_path, class: "button alert", method: :post %>
    <div id="one-item"></div>
  </div>
</div>

<%= content_for :extra_footer do %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
var today = new Date();
$(function () {
  $('#one-item').highcharts({
    title: {
      text: "Item"
    },

    xAxis: {
      type: 'datetime'
    },

    yAxis: {
      title: {
        text: "Number Sold"
      }
    },

    series: [
    <% current_restaurant.items.each do |i| %>
    {
      name: "<%= i.name %>",
      data: <%= get_sold_by_date(i) %>,
      pointInterval: 24 * 3600000,
      pointStart: today-1000*60*60*24*7
    },
    <% end %>
    ]
  });
});
</script>
<% end %>
