<!DOCTYPE html>
<html>
<head>
  <title>CashRegister</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if Restaurant.count > 0 %>
  <a href='<%= root_path %>'><h1><%= Restaurant.first.name %></h1></a>
<% end %>
<% if current_employee %>
  <% if current_employee.current_shift %>
    <% clocked_in = "Clocked in" %>
  <% else %>
    <% clocked_in = "Not clocked in" %>
  <% end %>
  <%= "Signed in as #{current_employee.name}, #{clocked_in}" %>
<% end %>
<br><%= link_to "Clock In/Out |", employees_clock_in_out_path %> <%= link_to "Main", root_path %><br>

<%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
    <%= value %>
  </div>
<%- end -%>

<%= yield %>

<%= javascript_include_tag 'application' %>
<%= javascript_tag do %>
$(function(){
  $(document).foundation();
});
<% end %>
<%= yield :extra_footer %>

</body>
</html>
