<!DOCTYPE html>
<html>
<head>
  <title>CashRegister</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
  <ul class="title-area">
    <li class="name has-dropdown not-click">
      <h1><%= Restaurant.find_by_name("Nicole's Restaurant").id</h1>
      <% if current_restaurant %>
        <h1>
          <%= link_to current_restaurant.name, root_path %>
        </h1>
        <ul class="dropdown">
          <li><%= link_to "Sign Out Restaurant", restaurants_sign_out_path %></li>
        </ul>
      <% end %>
    </li>
  </ul>
  </section>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <% if current_employee %>
        <li class="has-dropdown not-click">
          <% if current_employee.current_shift %>
            <% clocked_in = "Clocked in" %>
          <% else %>
            <% clocked_in = "Not clocked in" %>
          <% end %>
          <a href="#">
            <%= "Signed in as #{current_employee.name}, #{clocked_in}" %>
          </a>
          <ul class="dropdown">
            <li><%= link_to "Clock In/Out", employees_clock_in_out_path %></li>
            <li><%= link_to "Sign Out", employees_sign_out_path %></li>
          </ul>
        </li>
      <% end %>
      <% if current_employee %>
        <% if current_employee.status == "Manager" %>
          <li class="divider"></li>
          <li><%= link_to "Manager Functions", static_pages_manager_functions_path %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</nav>

<%- flash.each do |key, value| -%>
  <% if key == "notice" %>
    <div class="alert-box success" data-alert>
      <%= value %>
    </div>
  <% else %>
    <div class="alert-box alert" data-alert>
      <%= value %>
    </div>
  <% end %>
<%- end -%>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_tag do %>
$(function(){
  $(document).foundation();
});
<% end %>
<%= yield :extra_footer %>

</body>
</html>
